//Variables
$mainColor: #ec5598;
$backgroundColor: #fff;
$auxiliarColor: #DCDCDC;
// $bodyFont: 200 'Josefin Sans', sans-serif;
// $titleFont: 400 'Josefin Sans', sans-serif;
// $subtitleFont: 300 'Josefin Sans', sans-serif;